.active ::after{
  content: '';
  height: 3px;
  background-color: darkblue;
  width: 42px;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  transform: translateY(14px);
  /* color: brown; */
  /* color:aqua; */
}